<section id="homepage_section">
    <div class="section_blocks_container">
        <div class="item_section_block">
            <img src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="image">
        </div>
        <div class="item_section_block">
            <img src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="image">
        </div>
        <div class="item_section_block">
            <img src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="image">
        </div>
        <div class="item_section_block">
            <img src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="image">
        </div>
        <div class="item_section_block">
            <img src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="image">
        </div>
        <div class="item_section_block">
            <img src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="image">
        </div>
        <div class="item_section_block">
            <img src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="image">
        </div>
        <div class="item_section_block">
            <img src="https://fakeimg.pl/350x200/?text=World&font=lobster" alt="image">
        </div>
    </div>
</section>

