@font-face {
    font-family: 'Philosopher', sans-serif;
    src: url('../../../src/fonts/Philosopher-Regular.ttf') format('ttf');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }


@font-face {
  font-family: 'Philosopher', sans-serif;
  src: url('../../../src/fonts/Philosopher-Bold.ttf') format('ttf');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

