#homepage_section {
  padding: $page_container;
}

.section_blocks_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  @include breakpoint($xxlbp) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint($largebp) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint($desktopbp) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint($tabletbp) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint($phonebp) {
    grid-template-columns: 1fr;
  }
}

.item_section_block {
  box-shadow: 5px 5px 10px 1px #130101;

  &:nth-child(even) {
    border: 3px solid #e0670a;
  }

  &:nth-child(odd) {
    border: 3px solid #58c5c7;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}